---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
  background-color: rgba(238, 243, 247, 0);
}

.masthead,
.page,
.sidebar,
.initial-content,
.archive {
  background-color: transparent;
}

.page__content,
.page__inner-wrap,
.author__content,
.author__urls-wrapper .author__urls,
.archive__item,
.feature__item .archive__item {
  background-color: rgba(238, 243, 247, 0);
  border-radius: 10px;
}

.masthead {
  backdrop-filter: blur(4px);
  background-color: rgba(238, 243, 247, 0) !important;
}

.greedy-nav {
  background-color: rgba(238, 243, 247, 0) !important;
}

.page__title,
.archive__item-title,
.author__name {
  color: #000000;
}

a,
.page__content a {
  color: #141414 !important;
}

a:hover,
.page__content a:hover {
  color: #264b70 !important;
}

.btn,
.btn--primary {
  background-color: #577fa6 !important;
  border-color: #577fa6 !important;
}

.btn:hover,
.btn--primary:hover {
  background-color: #466b8f !important;
  border-color: #466b8f !important;
}

.feature__item .archive__item-teaser img {
  border-radius: 10px;
}
